<!-- ======= Graph Section ======= -->
<section id="graph-section" class="section-bg">
  <div class="container d-flex justify-content-between">
    <h2 class="board-title">Dashboard</h2>
    <%= render 'date_range' %>
  </div>
  <div class='container'>
    <div class='row'>
        <div class='col-12'>
          <div class="content-area">
            <div class="card-body">
              <canvas id="canvas"></canvas>
              <div id ="drawchart-area">
                <%= render 'records/drawchart', records: @records  %>
              </div>
            </div>
          </div>
        </div>
     </div>
  </div>
</section><!-- End Graph Section -->
