<!-- ======= Table Section ======= -->
<section id="table-section" class='section-bg'>
  <div class='container d-flex'>
    <h2 class='section-title'>Daily Report</h2>
  </div>
  <div class='container'>
    <div class='content-area'>
      <table class='table table-hover daily-report'>
        <thead class='thead-light'>
          <tr>
            <th>年月日</th>
            <th colspan='3' class='table-warning'>朝(最高：最低：脈拍)</th>
            <th colspan='3' class='table-primary'>夜(最高：最低：脈拍)</th>
            <th>メモ</th>
          </tr>
        </thead>
        <tbody>
          <%= render 'record', records: @records %>
        </tbody>
      </table>
    </div>
  </div>
</section>
