<!-- ======= Table Section ======= -->
<section id="table-section" class='section-bg'>
  <div class='container d-flex'>
    <h2 class='board-title'>Daily Report</h2>
  </div>
  <div class='container'>
    <div class='content-area'>
      <table class='table table-hover table-bordered'>
        <thead class='thead-light'>
          <tr>
            <th rowspan="2" class="text-center">年月日</th>
            <th colspan="3" class="text-center">朝<i class="fas fa-cloud-sun"></i></th>
            <th colspan="3" class="text-center">夜<i class="fas fa-moon"></i></th>
            <th class="text-center">メモ</th>
          </tr>
          <tr>
            <th colspan="2" class="text-center">血圧値[最高/最低](mmHg)</th>
            <th class="text-center">脈拍/分</th>
            <th colspan="2" class="text-center">血圧値[最高/最低](mmHg)</th>
            <th class="text-center">脈拍/分</th>
            <th class="text-center">※体調など</th>
          </tr>
        </thead>
        <tbody id="record_table">
          <%= render @records %>
        </tbody>
      </table>
    </div>
  </div>
</section>
