<!-- ======= Output Section ======= -->
<section id="output-section" class="section-bg">
  <div class="container d-flex justify-content-between">
    <h2 class="section-title">Output</h2>
  </div>
  <div class='container'>
    <div class='row'>
        <div class='col-12'>
          <div class="content-area">
            <div class="card-body">
              <p>先月分のデータが出力できます。</p>
              CSVの出力はこちら
              <%= link_to "CSV", export_path(@records, format: :csv), class: "btn btn-primary" %>
              PDFの出力はこちら
              <%= link_to "PDF", export_path(@records, format: :pdf), class: "btn btn-primary" %>
            </div>
          </div>
          <%= render 'table', records: @records %>
        </div>
     </div>
  </div>
</section><!-- End Output Section -->
