<!-- ======= Profile Section ======= -->
<section id="profile-section" class="section-bg">
  <div class='container d-flex'>
    <h2 class='section-title'>プロフィール編集</h2>
  </div>
  <div class='container'>
    <div class="row">
		  <div class="col-md-3 ">
        <div class="list-group ">
          <%= link_to "プロフィール編集", account_profile_edit_path, class: "list-group-item list-group-item-action  #{'active' if current_page?(account_profile_edit_path)}" %>
          <%= link_to "パスワード変更", account_password_edit_path, class: "list-group-item list-group-item-action #{'active' if current_page?(account_password_edit_path)}" %>
          <%= link_to "設定変更", account_setting_path, class: "list-group-item list-group-item-action #{'active' if current_page?(account_setting_path)}" %>
          <%= link_to "アカウント削除", account_leave_path, class: "list-group-item list-group-item-action #{'active' if current_page?(account_leave_path)}" %>
        </div>
      </div>
      <div class="col-md-9">
		    <div class="card">
		      <div class="card-body">
	          <div class="row">
