<!-- ======= Signup Section ======= -->
<section id="signup-section">
  <div class='container registration-form'>
    <div class="row">
		  <div class="col-md-3 ">
        <div class="list-group ">
          <%= link_to "会員登録", signup_path, class: "list-group-item list-group-item-action  #{'active' if current_page?(signup_path)}" %>
          <%= link_to "SNSで登録", signup_with_sns_path, class: "list-group-item list-group-item-action #{'active' if current_page?(signup_with_sns_path)}" %>
          <%= link_to "利用規約", terms_path, class: "list-group-item list-group-item-action #{'active' if current_page?(terms_path)}" %>
        </div>
      </div>
      <div class="col-md-9">
		    <div class="card">
		      <div class="card-body">
	          <div class="row">
