<%= render "account_menu", user: @user %>
  <div class="col-md-12">
    <div class="profile-inner-text">
    このアカウントを削除すると、2度の過去のデータを復元できません。<br/>
    アカウントを削除しますか？
    </div>
    <div class="btn-area">
      <%= link_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class: "btn btn-primary"  %>
    </div>
  </div>
<%= render "account_footer" %>
