<% provide(:title, "SNSログイン") %>
<% provide(:h1, "SNSログイン") %>
<%= render "devise/shared/signup_menu" %>
<div class="col-md-12">
  <div class="snslogin-container">
    <div class="row">
      <div class="col-md-12">
        <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-fb btn-block", title: "Facebook" do %>
          <i class="fab fa-facebook-f"></i>Sign in with Facebook
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= link_to user_twitter_omniauth_authorize_path, class: "btn btn-tw btn-block", title: "Twitter" do %>
          <i class="fab fa-twitter"></i>Sign in with Twitter
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'devise/shared/account_footer' %>
