<% provide(:title, @article.title) %>
<% provide(:h1, @article.title) %>
<!-- ======= Read/Unread Section ======= -->
<section id="read-section">
  <div class='container registration-form'>
    <div class="row">
		  <div class="col-md-3 ">
        <div class="list-group ">
          <%= link_to "コラム一覧", articles_path, class: "list-group-item list-group-item-action  #{'active' if current_page?(articles_path)}" %>
        </div>
      </div>
      <div class="col-md-9">
		    <div class="card">
		      <div class="card-body">
            <div class="terms_inner">
              <h1 class="terms_title"><%= yield(:h1) %></h1>
            </div>
	          <div class="row">
              <div class="col-md-12 unread_articles">
                <%= @article.content %>
              </div>
            </div>

              <%= render 'devise/shared/account_footer' %>
