<div class="admin-main">
  <% if @posts.any? %>
    <table class="posts">
      <thead>
        <tr>
          <th>記事タイトル</th>
          <th>作成者</th>
          <th>投稿日時</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td class="td-entry-title">
              <div class="entry-table-cell">
                <div class="entry-title">
                  <%= link_to post.title, edit_admins_post_path(post) %>
                </div>
                <div class="entry-body">
                </div>
              </div>
            </td>
            <td class="td-post-author">
            </td>
            <td class="td-post-description">
              <%= post.created_at %>
            </td>
          <tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
