<p>こんにちは <%= @resource.email %>さん</p>

<p>以下のリンクからパスワードをリセットできます。</p>

<p><%= link_to 'パスワードをリセットする', passwords_edit_url(@resource, reset_password_token: @token) %></p>

<p>パスワードを変更しない人はこのメールを無視してかまいません。</p>
<p>上記URLで設定を完了するまで、パスワードはリセットされません。</p>
