<!-- ======= ErrorMessage Section ======= -->
<section id="error-message-section">
  <div class="error_explanation_container">
    <p class="notice list-group-item-success"><%= notice %></p>
    <p class="alert list-group-item-danger"><%= alert %></p>
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
</section>
