/ ======= Footer =======
%footer#footer
  .container.footer-bottom.clearfix
    .copyright
      &copy; Copyright
      = Date.current.year
      <strong><span>みかん太郎</span></strong>. All Rights Reserved
    .credits
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
/ End Footer
