<div class="collapse navbar-collapse nav-menu" id="headerMenu" >
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "このサイトについて", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <% if current_page?(root_path) %>
        <%= link_to "ログイン", login_path, remote: :true, id: "login-modal", class: "nav-link",
            data: {toggle: "modal", target: "#loginModal"} %>
      <% else %>
        <%= link_to "ログイン", login_path, class: "nav-link" %>
      <% end %>
    </li>
    <li class="nav-item get-started">
      <%= link_to "アカウント登録", signup_path, class: "nav-link" %>
    </li>
  </ul>
</div>
